###########################
#archivo de configuracion##
#para no subir al servidor#
###########################

#dependencias del lado servidor
###############################
node_modules/*

#dependencias de lado cliente
#################
app/frontend/assets/bower_components/*

#images
app/frontend/assets/media/img/blog/*
app/frontend/assets/media/img/product/*

#package-lock
#################
package-lock.json
log.csv