<div class="modal fade" id="blog_modal_document">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="btn-group menu-inside btn-head left">
					<button type="button" class="dropdown-toggle btn-head" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-bars"></i>
					</button>
					<ul class="dropdown-menu">
						
						<!--CLOSE-->
						<li data-dismiss="modal" data-ng-click="ctrl.application.menuToggle()">
							<i class="fa fa-close"></i>
						</li>
						<li data-dismiss="modal" data-ng-click="ctrl.blog.search()">
							<i class="fa fa-search"></i>
						</li>
						
						<!--SORTED
						<li data-dismiss="modal" data-toggle="modal" data-target="#blog_modal_sort">
							<i class="fa fa-arrows-v"></i>
						</li>-->
						
						<!--ADMIN-->
						<li data-ng-show="ctrl.hasRole('admin')" class="divider"></li>
						<li data-ng-show="ctrl.hasRole('admin')" data-ng-click="ctrl.blog.new()" data-dismiss="modal" data-toggle="modal" data-target="#blog_modal_form">
							<i class="fa fa-plus"></i>
						</li>
						<li data-ng-show="ctrl.hasRole('admin')" data-dismiss="modal" data-toggle="modal" data-target="#blog_modal_config">
							<i class="fa fa-cogs"></i>
						</li>
						<li data-ng-show="ctrl.hasRole('admin')" class="divider"></li>
						
						<!--TAGS-->
						<li data-ng-click="ctrl.blog.getByTag('')" data-dismiss="modal" data-toggle="modal" data-target="#blog_modal_list">
							Todas
						</li>
						<li data-ng-repeat="tag in ctrl.blog.tag" data-ng-click="ctrl.blog.getByTag(tag)" data-dismiss="modal" data-toggle="modal" data-target="#blog_modal_list">
							{{tag}}
						</li>
						
						<li data-dismiss="modal" data-toggle="modal" data-target="#blog_modal_list">
							<i class="fa fa-mail-reply"></i>
						</li>
					</ul>
				</div>
				<h4 class="modal-title">
					{{ctrl.blog.doc.title}}
				</h4>
			</div>
			<div class="modal-body text-justify">
				<img data-ng-src="{{ctrl.blog.doc.img}}" class="img_main"/>
				<br>
				<p class="text-right">{{ctrl.blog.doc.resume}}</strong>
				<div id="blog_document_content"></div>
				<small class="text-center" title="{{ctrl.blog.doc.datetitle}}">{{ctrl.blog.doc.datefromnow}}</small>
				<br>
				<br>
				
				<!--ACTIONS-->
				<section id="dvBlosRSS" class="row">
					<div class="col-md-6 text-left">
						<button type="button" class="btn btn-default" title="Copy" data-ng-click="ctrl.copyURL('/blog/' + ctrl.blog.doc.uri)">
							<i class="fa fa-copy"></i>
						</button>
						<a class="btn btn-default" target="_blank" title="Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ctrl.getURI('/blog/' + ctrl.blog.doc.uri)}}">
							<i class="fa fa-facebook"></i>
						</a>
						<a class="btn btn-default" target="_blank" title="Twitter" href="https://twitter.com/intent/tweet?text={{ctrl.blog.doc.description}}&url={{ctrl.getURI('/blog/' + ctrl.blog.doc.uri)}}&hashtags={{ctrl.blog.doc.hashtag}}">
							<i class="fa fa-twitter"></i>
						</a>
						<a class="btn btn-default" target="_blank" title="Whatsapp" href="https://api.whatsapp.com/send?text={{ctrl.blog.doc.description}} {{ctrl.getURI('/blog/' + ctrl.blog.doc.uri)}}">
							<i class="fa fa-whatsapp"></i>
						</a>
						<a class="btn btn-default" target="_blank" title="Linkedin" href="https://www.linkedin.com/sharing/share-offsite/?url={{ctrl.getURI('/blog/' + ctrl.blog.doc.uri)}}">
							<i class="fa fa-linkedin"></i>
						</a>
					</div>
					<div class="col-md-6 text-right">
						<button type="button" class="btn btn-default" title="Volver" data-dismiss="modal" data-toggle="modal" data-target="#blog_modal_list" >
							<i class="fa fa-mail-reply"></i>
						</button>
						<button type="button" class="btn btn-default" title="Cerrar" data-dismiss="modal" data-ng-click="ctrl.application.menuToggle()" >
							<i class="fa fa-close"></i>
						</button>
					</div>
				</section>
				<br>
				<br>
				
				<!--RELATIONS-->
				<div class="row">
					<div class="col-md-6" data-ng-repeat="relation in ctrl.blog.doc.relation">
						<article>
							<img data-ng-src="{{relation.thumb}}" data-ng-click="ctrl.blog.read(relation._id)"/>
							<div class="info">
								{{relation.title}}
								<br>
								<small title="{{relation.datetitle}}">{{relation.datefromnow}}</small>
							</div>
						</article>
					</div>
				</div>
				
				<!--TAGS-->
				<p data-ng-repeat="tag in ctrl.blog.doc.tag" class="bg-primary text-center" data-dismiss="modal" data-toggle="modal" data-target="#blog_modal_list" data-ng-click="ctrl.blog.getByTag(tag,1)">{{tag}}</p>
				
				<!--COMMENT-->
				<button class="btn btn-block btn-warning" data-toggle="collapse" data-target="#collapseBlogComments" aria-expanded="false" aria-controls="collapseBlogComments">Comentarios</button>
				<div class="collapse" id="collapseBlogComments">
					<!--VALID USER-->
					<div class="alert alert-warning text-center" data-ng-show="!ctrl.hasRole('user')">
						<p>Para publicar comentarios 
							<a data-dismiss="modal" data-toggle="modal" data-target="#account_modal_new">registrate</a> o 
							<a data-dismiss="modal" data-toggle="modal" data-target="#account_modal_login">ingresa sesión.</a>
						</p>
					</div>
					<!--FORM NEW-->
					<div data-ng-show="ctrl.hasRole('user')">
						<br>	
						<textarea class="form-control" rows="5" placeholder="Ingrese sus comentarios..." data-ng-model="ctrl.blog.comment.newdoc.comment"></textarea>
						<!--<button class="btn btn-primary btn-block" data-ng-click="ctrl.blog.comment.create2()">Enviar al autor de la nota</button>-->
						<button class="btn btn-success btn-block" data-ng-click="ctrl.blog.comment.create()">Publicar en la página</button>
					</div>
					<!--LIST-->
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<ul class="list-group comment_list">
								<li class="list-group-item pull-left" data-ng-repeat="comment in ctrl.blog.comment.coll">
									<img data-ng-src="{{ctrl.blog.comment.users[comment.author].thumb}}"/>
									<b>{{ctrl.blog.comment.users[comment.author].nickname}}</b>
									<p>{{comment.comment}}</p>
									<br>
									<small title="{{comment.datetitle}}">{{comment.datefromnow}}</small>
								</li>
							</ul>
							<div class="text-center" data-ng-show="ctrl.blog.comment.obtained < ctrl.blog.comment.cant">
								<a data-ng-click="ctrl.blog.comment.getCollection()">
									cargar comentarios...
									<br>
									<span>{{ctrl.blog.comment.obtained}}/{{ctrl.blog.comment.cant}}</span>
								</a>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" title="Editar" data-ng-show="ctrl.hasRole('admin')" data-ng-click="ctrl.blog.edit()" data-dismiss="modal" data-toggle="modal" data-target="#blog_modal_form"> 
					<i class="fa fa-pencil"></i>
				</button>
			</div>
		</div>
	</div>
</div>