<div class="modal fade" id="blog_modal_sort">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="left btn-head" data-dismiss="modal" data-toggle="modal" data-target="#blog_modal_list">
					<i class="fa fa-close"></i>
				</button>
				<h4 class="modal-title">
					Ordenar
				</h4>
			</div>
			<div class="modal-body text-justify">
				<button class="btn btn-block btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#blog_modal_list" data-ng-click="ctrl.blog.sorted = {created:1};ctrl.blog.restart()">
					Fecha ascendente
				</button>
				<button class="btn btn-block btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#blog_modal_list" data-ng-click="ctrl.blog.sorted = {created:-1};ctrl.blog.restart()">
					Fecha descendente
				</button>
				<button class="btn btn-block btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#blog_modal_list" data-ng-click="ctrl.blog.sorted = {title:1};ctrl.blog.restart()">
					Titulo ascendente
				</button>
				<button class="btn btn-block btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#blog_modal_list" data-ng-click="ctrl.blog.sorted = {title:-1};ctrl.blog.restart()">
					Titulo descendente
				</button>
				
				<button class="btn btn-block btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#blog_modal_list" data-ng-click="ctrl.blog.sorted = {title:-1};ctrl.blog.restart()">
					Mas vistos
				</button>
				<button class="btn btn-block btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#blog_modal_list" data-ng-click="ctrl.blog.sorted = {title:-1};ctrl.blog.restart()">
					Mas comentados
				</button>
			</div>
		</div>
	</div>
</div>